:root {
  --bg-color: hsl(69 37% 94%);
  --typespeed: 6s;
  --characters: 18;
}
body {
  margin: 0;
  font-family: "PT Mono", monospace;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background: var(--bg-color);
}

h1 {
  font-style: 5rem;
  position: relative;
  font-family: "PT Mono", monospace;
  position: relative;
  width: max-content;
}
h1::before,
h1::after {
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

h1::after {
  width: 0.1em;
  background: black;
  animation: typewrite var(--typespeed) steps(var(--characters)) 0.5s forwards,
    cursor 500ms steps(var(--characters)) infinite;
}

h1::before {
  background: var(--bg-color);
  animation: typewrite var(--typespeed) steps(var(--characters)) 0.5s forwards;
}

@keyframes typewrite {
  to {
    left: 100%;
  }
}

@keyframes cursor {
  to {
    background: transparent;
  }
}
